header {
  background-color: #3CDFF1;
  color: #0B0130;
  position: fixed;
  width: 100%;
  z-index: 1000;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo img {
  padding-left: 5px;
  height: 5rem;
}

.logo img:hover{
  transform: scale(1.1);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  
}

.navbar li {
  margin: 0 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  color:#0B0130;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #fff;
  border-radius: 7px;
}

.menu-item i {
  padding-right: .5rem;
  font-size: 2.5rem; 
}

.menu-item span {
  padding-right: .5rem;
  font-size: 1rem;
}



.button-container {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login {
  background-color: #0B0130; 
  color: #3CDFF1;
  font-weight: bold;
}

.login:hover {
  background-color: #0b0130a6;
  color:white;
  box-shadow: 0 0 10px #fff;
}

.register {
  background-color: #0B0130; 
  color: #3CDFF1;
  font-weight: bold;
}

.register:hover {
  background-color: #0b0130a6;
  color:white;
  box-shadow: 0 0 10px #fff;
}

.session-icons a{
  padding: 10px;
  font-size: 15px;
  color: #0B0130;
  font-weight: bold;
  text-decoration: none; 
  
}

