<header>
    <div class="header-container">
        <div class="logo">
            <a [routerLink]="['']"><img appImgBroken src="../../../../assets/image/logo_sin_fondo.webp" alt="Logo"></a>
        </div>
        <nav class="navbar">
            <ul id="nav-list">
                <li *ngFor="let item of mainMenu.defaulOptions">
                    <a [routerLink]="item.router" class="menu-item">
                        <i [ngClass]="['uil',item.icon]"></i> <!--para los iconos-->
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="session-icons" *ngIf="!isLoggedIn">
            <button [routerLink]="['/auth/login']" class="btn login">Iniciar Sesión</button>
            <button [routerLink]="['/auth/register']" class="btn register">Registrarse</button>
          </div>
          <div class="session-icons" *ngIf="isLoggedIn">
            <button (click)="authService.logout()" class="btn login">Cerrar Sesión</button>
          </div>
          
    </div>
</header>