  <div class="container">
    <div class="card-booking">
      <img appImgBroken [src]="booking.imageUrl" class="card-img-top"
        alt="Imagen del servicio booking">
      <div class="content-booking">
        <div class="title-booking">{{booking.name}}</div>
        <div class="decription-booking">{{booking.description}}
        </div>
      </div>
      <div class="card-body">
        <button (click)="navigateToForm()" class="btn btn-primary">Reservar</button>
      </div>      
    </div>
  </div>
  