<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.postimg.cc/Kxcf5cf9/Banner-servicios-tribu.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://i.postimg.cc/Vm7RZyHz/Banner-horizontal-descuentos-productos-de-belleza-divertido-turquesa-lila.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://i.postimg.cc/6B3HB6G7/Portada-Facebook-Anuncio-Spa-Regalo-Mam-Elegante-Caf.webp" class="d-block w-100" alt="...">
    </div>
  </div>
</div>