<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/image/Banner-servicios-tribu.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../../assets/image/Banner-horizontal-descuentos-productos-de-belleza-divertido-turquesa-lila.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../../assets/image/Portada-Facebook-Anuncio-Spa-Regalo-Mamá-Elegante-Café.webp" class="d-block w-100" alt="...">
    </div>
  </div>
</div>