<footer>
  <div class="footer-container">
    <div class="contact-info">
      <div class="logo">
        <img appImgBroken src="../../../../assets/image/logo_sin_fondo.webp" alt="ZenBooking Logo">
      </div>
      <div class="contact">
        <p>Email: info@zenbooking.com</p>
        <p>Teléfono: +57 3002070316</p>
      </div>
    </div>
    <div class="copyright">
      
      <p>© 2024 Hecho con amor &#x2764; ZenBooking. Todos los derechos reservados.</p>
    </div>
    <div class="social-media">
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank"><i class="uil uil-facebook"></i></a>
          <span>Facebook</span>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter"></i></a>
          <span>Twitter</span>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram-alt"></i></a>
          <span>Instagram</span>
        </li>
      </ul>
    </div>
  </div>
</footer>