
.section--generic__card-spa {
  display: grid;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 1.15rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  
}

.section--generic__card-booking {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.15rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
