<div class="login-auth-page">
  <div class="login-auth-wrapper">
    <img appImgBroken src="https://i.postimg.cc/3JbFkpDk/logo-sin-fondo.webp" alt="">
      <h3>¡Bienvenido! Estamos emocionados de tenerte aquí. Por favor, regístrate para comenzar. &#x2764;</h3>

      <form (ngSubmit)="guardarUsuario()" [formGroup]="formRegister"  class="login-auth-form">
        <div class="form-group">
          <label for="name">Nombre completo</label>
          <input formControlName="name" type="text" placeholder="Nombre completo" class="form-input">
      </div>
          <div class="form-group">
              <label for="email">Dirección de correo</label>
              <input formControlName="email" type="text" placeholder="Dirección de correo" class="form-input">
          </div>
          <div class="form-group">
              <label for="password">Contraseña</label>
              <input formControlName="password" type="password" placeholder="Contraseña" class="form-input">
          </div>
          
          
          <div class="form-action">
              <button [disabled]="formRegister.invalid" class="login ">Registrarse</button>
          </div>
      </form>
  </div>

<div>
  <hr> Raw: {{formRegister.value | json}}
</div>
</div>

